* {
	font-family: "Comic Sans", Helvetica, sans-serif;
	box-sizing: border-box;
	color: black;
}

h1 {
	width: 65%;
	text-align: center;
	font-size: 60px;
	margin: 20px auto;
	padding: 20px;
	border: 2px solid black;
	background: linear-gradient(90deg, yellow, orange, red, yellow);
}

.recipe {
	width: 70%;
	text-align: center;
	font-size: 28px;
	margin: 10px auto;
	padding: 20px;
	list-style-type: none;
	display: block;
	margin: 10px auto;
	padding: 15px 15px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.recipe.one,
.recipe.two,
.recipe.three {
	border: 2px solid black;
	border-radius: 30px;
}

.recipe.one {
	background: linear-gradient(90deg, yellow, orange);
}

.recipe.two {
	background: linear-gradient(90deg, orange, red);
}

.recipe.three {
	background: linear-gradient(90deg, red, yellow);
}
